@page
@using Domain
@model Player2PlaceShipsModel
@{
    ViewData["Title"] = "Player 2 ships coordinates: ";
}
<h2>@ViewData["Title"]</h2>


<body>
<table style="border: 1px solid black">
    <tr>
        <td style="border: 1px solid black"> </td>
        @for (int a = 0; a < Domain.GameBoard.Player2Board1[0].Count; a++)
        {
            <td style="border: 1px solid black">@Domain.GameBoard.Alphabet[a]</td>
        }
    </tr>
    @for (int i = 0; i < Domain.GameBoard.Player2Board1.Count; i++)
    {
        <tr>
            <td style="border: 1px solid black">@(i + 1)</td>
            @for (int j = 0; j < Domain.GameBoard.Player2Board1[i].Count; j++)
            {
                switch (Domain.GameBoard.Player2Board1[i][j])
                {
                    case BoardSquareState.Empty:
                        <td style="border: 2px solid black; width: 50px; height: 50px; background-color:inherit"></td>
                        break;
                    case BoardSquareState.Unknown:
                        <td style="border: 2px solid black; width: 50px; height: 50px; background-color:inherit"></td>
                        break;
                    case BoardSquareState.Ship:
                        <td style="border: 2px solid black; width: 50px; height: 50px"><img src="images/ship.png" style="width: 50px; height: 50px"/></td>
                        break;
                    case BoardSquareState.Hit:
                        <td style="border: 2px solid black; width: 50px; height: 50px"><img src="images/hit.png" style="width: 50px; height: 50px"/></td>
                        break;
                    case BoardSquareState.Miss:
                        <td style="border: 2px solid black; width: 50px; height: 50px"><img src="images/miss.png" style="width: 50px; height: 50px"/></td>
                        break;

                    default:
                        throw new ArgumentOutOfRangeException();
                }
            }
        </tr>
    }
</table>

@if (Domain.GameBoard.isRerun)
{
    <p>Coordinates you entered did not fit. Please enter new.</p>
}

<form method="post">
    <fieldset>
        <h3>Enter ships</h3>
         <div>
            <label for="CarrierVertCoord">Vertical - carrier (E.g. 1)</label>
            <input style="background-color: inherit" type="text" name="CarrierVertCoord" value=""/>
        </div>
        <div>
            <label for="CarrierHorizCoord">Horizontal - carrier (E.g. a)</label>
            <input style="background-color: inherit" type="text" name="CarrierHorizCoord" value=""/>
        </div>
        <div>
            <label for="CarrierDirection">Direction of the ship: "R" - right, "D" - down</label>
            <input style="background-color: inherit" type="text" name="CarrierDirection" value=""/>
        </div>
        <br>
        <br>
        <br>
        <div>
            <label for="BattleshipVertCoord">Vertical - battleship (E.g. 1)</label>
            <input style="background-color: inherit" type="text" name="BattleshipVertCoord" value=""/>
        </div>
        <div>
            <label for="BattleshipHorizCoord">Horizontal - battleship (E.g. a)</label>
            <input style="background-color: inherit" type="text" name="BattleshipHorizCoord" value=""/>
        </div>
        <div>
            <label for="BattleshipDirection">Direction of the ship: "R" - right, "D" - down</label>
            <input style="background-color: inherit" type="text" name="BattleshipDirection" value=""/>
        </div>
        <br>
        <br>
        <br>
        <div>
            <label for="SubVertCoord">Vertical - submarine (E.g. 1)</label>
            <input style="background-color: inherit" type="text" name="SubVertCoord" value=""/>
        </div>
        <div>
            <label for="SubHorizCoord">Horizontal - submarine (E.g. a)</label>
            <input style="background-color: inherit" type="text" name="SubHorizCoord" value=""/>
        </div>
        <div>
            <label for="SubDirection">Direction of the ship: "R" - right, "D" - down</label>
            <input style="background-color: inherit" type="text" name="SubDirection" value=""/>
        </div>
        <br>
        <br>
        <br>
        <div>
            <label for="CruiserVertCoord">Vertical - cruiser (E.g. 1)</label>
            <input style="background-color: inherit" type="text" name="CruiserVertCoord" value=""/>
        </div>
        <div>
            <label for="CruiserHorizCoord">Vertical - cruiser (E.g. a)</label>
            <input style="background-color: inherit" type="text" name="CruiserHorizCoord" value=""/>
        </div>
        <div>
            <label for="CruiserDirection">Direction of the ship: "R" - right, "D" - down</label>
            <input style="background-color: inherit" type="text" name="CruiserDirection" value=""/>
        </div>
        <br>
        <br>
        <br>
        <div>
            <label for="PatrolVertCoord">Vertical - patrol (E.g. 1)</label>
            <input style="background-color: inherit" type="text" name="PatrolVertCoord" value=""/>
        </div>
        <div>
            <label for="PatrolHorizCoord">Horizontal - patrol (E.g. a)</label>
            <input style="background-color: inherit" type="text" name="PatrolHorizCoord" value=""/>
        </div>
        <div>
            <label for="PatrolDirection">Direction of the ship: "R" - right, "D" - down</label>
            <input style="background-color: inherit" type="text" name="PatrolDirection" value=""/>
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Continue" class="btn btn-lg bg-danger"/>
        </div>
    </fieldset>
</form>
</body>

